version: '3.8'
services:
  redis:
    image: eqalpha/keydb:latest
    container_name: serve1090_redis
    ports:
      - 6379:6379
    volumes:
      - $PWD/keydb.conf:/etc/keydb/keydb.conf
  express:
    build: .
    container_name: serve1090
    volumes:
      - .:/app/serve1090
      - /app/serve1090/node_modules
    depends_on:
      - redis
    environment:
      - NODE_ENV=development
      - PORT=${PORT}
      - KEYDB_HOST=redis
      - KEYDB_PORT=6379
    entrypoint: /docker-entrypoint.sh
    ports:
      - ${PORT}:${PORT}
      - 9229:9229