[package]
name = "pump1090"
version = "0.3.3"
authors = ["Robert Steilberg <rsteilberg@gmail.com>"]
license = "MIT"
description = "Reads dump1090 JSON output and sends it to an endpoint via a WebSocket"
readme = "README.md"
repository = "https://github.com/robertsteilberg/pump1090"
edition = "2018"

[features]
default = ["tls"]
tls = ["native-tls"]

[dependencies]
dotenv = "^0.15.0" # env vars parse
clap = {version = "^3.0.7", features = ["yaml"]} # cli arg parse
serde_json = "^1.0.57" # dumpfile parse
url = "^2.1.1" # endpoint URL
tungstenite = "^0.11.1" # websockets

[dependencies.native-tls]
optional = true
version = "^0.2.4"

[profile.dev]
opt-level = 0

[profile.release]
opt-level = 3
codegen-units = 1
