name: serve1090 CI

on:
 push:
  branches: [ master ]
 pull_request:
  branches: [ "**" ]

jobs:
 build:

  runs-on: ubuntu-latest

  strategy:
   matrix:
    node-version: [ 15.14.0 ]

  steps:
   - uses: actions/checkout@v2
   - name: Use Node.js ${{ matrix.node-version }}
     uses: actions/setup-node@v2
     with:
      node-version: ${{ matrix.node-version }}
   - name: Install dependencies
     run: npm ci
   - name: Unit tests
     run: npm test
